@import './base.css';

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #0078D7;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 120, 215, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
  }
}
